<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/insuredPerson/{inn}(inn=${person.getInn()})}" th:object="${person}">

  <label for="numberContract">Number Contract</label>
  <input type="text" th:field="*{numberContract}" id="numberContract"/>
  <div style="color:red" th:if = "${#fields.hasErrors('numberContract')}" th:errors = "*{numberContract}">a</div>
  <br>
  <label for="firstName">First name</label>
  <input type="text" th:field="*{firstName}" id="firstName"/>
  <div style="color:red" th:if = "${#fields.hasErrors('firstName')}" th:errors = "*{firstName}">a</div>
  <br>
  <label for="lastName">Last name</label>
  <input type="text" th:field="*{lastName}" id="lastName"/>
  <div style="color:red" th:if = "${#fields.hasErrors('lastName')}" th:errors = "*{lastName}">a</div>
  <br>
  <label for="middleName">Middle name</label>
  <input type="text" th:field="*{middleName}" id="middleName"/>
  <div style="color:red" th:if = "${#fields.hasErrors('middleName')}" th:errors = "*{middleName}">a</div>
  <br>
  <label for="inn">INN</label>
  <input type="text" th:field="*{inn}" id="inn"/>
  <div style="color:red" th:if = "${#fields.hasErrors('inn')}" th:errors = "*{inn}">a</div>
  <br>
  <label for="price">Price</label>
  <input type="text" th:field="*{price}" id="price"/>
  <div style="color:red" th:if = "${#fields.hasErrors('price')}" th:errors = "*{price}">a</div>
  <br>

  <input type="submit" value="Update!"/>
</form>

<form th:method="DELETE" th:action="@{/insuredPerson/{inn}(inn=${person.getInn()})}">
  <input type="submit" value="Delete">
</form>

</body>
</html>